.section {
    padding: 5em;
    color: black;
    height: 100%;
}
.first-section {
    background-color: #c0c0ff;
}
.second-section {
    background-color: #c0ffc0;
}
.third-section {
    background-color: #ffc0c0;
}
